<!-- Footer starts class="navbar-fixed-bottom" -->
<footer >
    <div class="container " >
        <div class="row">
            <div class="col-md-12">
                Copyright info
                <p class="copy">Copyright &copy; 2015 | <a href="#">Your Site</a> </p>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
</body>
</html>
<!-- JS -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.js"></script> <!-- jQuery -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/bootstrap.js"></script> <!-- Bootstrap -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery-ui-1.9.2.custom.min.js"></script> <!-- jQuery UI -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->

<!-- jQuery Flot -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/excanvas.min.js"></script>
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.flot.js"></script>
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.flot.resize.js"></script>
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.flot.pie.js"></script>
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.flot.stack.js"></script>

<!-- jQuery Notification - Noty -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/themes/default.js"></script> <!-- jQuery Notify -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="{$Think.const.SITE_JAVASCRIPT_URL}/sparklines.js"></script> <!-- Sparklines -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<!--<script src="{$Think.const.SITE_JAVASCRIPT_URL}/jquery.uniform.min.js"></script> &lt;!&ndash-->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/bootstrap-switch.min.js"></script> <!-- Bootstrap Toggle -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/filter.js"></script> <!-- Filter for support page -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/custom.js"></script> <!-- Custom codes -->
<script src="{$Think.const.SITE_JAVASCRIPT_URL}/charts.js"></script> <!-- Charts & Graphs -->