<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>旅之沙</title>
    <meta name="keywords" content="Bootstrap" />
    <meta name="description" content="Bootstrap" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <!-- Stylesheets -->
    <link href="{$Think.const.SITE_STYLE_URL}/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.const.SITE_STYLE_URL}/font-awesome.css">
    <link href="{$Think.const.SITE_STYLE_URL}/style.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="{$Think.const.SITE_STYLE_URL}/bootstrap-responsive.css">-->

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="{$Think.const.SITE_JAVASCRIPT_URL}/html5shim.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="{$Think.const.SITE_IMAGE_URL}/favicon/favicon.png">

</head>
<script>
    var URL_IMAGE = "{$Think.const.SITE_IMAGE_URL}";
    var PLUGIN_URL = "{$Think.const.SITE_PLUGIN_URL}";
    var UPYUN_URL = "{$Think.const.UPYUN_URL}";
    var BASE_URL =  "{$Think.const.SITE_URL}";
</script>
<body style="background:url('{$Think.const.SITE_IMAGE_URL}/gee.jpg');">