<include file="Public/header" />

<div class="container-fluid" style="margin-left: 5%;margin-right:5%">
    <div class="row" style="margin-bottom: 10px">
        <div class=" col-md-3">
           <img src="{$Think.const.SITE_IMAGE_URL}/lvzhisha.jpg" style="width:250px;height: 35px" alt="logo" class="img-rounded">
        </div>
        <div class="col-md-5" >
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入地名、文章标题、问答标题">
                <span class="input-group-addon">搜索</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <a href="{$code_url}"><button class="btn btn-danger"><img src="{$Think.const.SITE_IMAGE_URL}/weibo.png" style="width:20px;height: 20px" alt="微博登陆" class="img-rounded"> 微博登陆</button></a>
                <a href="http://www.baidu.com"><button class="btn btn-success"><img src="{$Think.const.SITE_IMAGE_URL}/weixin.png" style="width:20px;height: 20px" alt="微信登陆" class="img-rounded"> 微信登陆</button></a>
                <a href="{:U('Web/Login/index')}"><button class="btn btn-primary"><img src="{$Think.const.SITE_IMAGE_URL}/weibo.png" style="width:20px;height: 20px" alt="注册登陆" class="img-rounded"> 注册登陆</button></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 10px">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{$Think.const.SITE_IMAGE_URL}/fa.jpg" style="width:100%;height:300px;" alt="">
                        <div class="carousel-caption">
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit
                        </div>
                    </div>
                    <div class="item">
                        <img src="{$Think.const.SITE_IMAGE_URL}/t3.jpg" style="width:100%;height:300px;" alt="">
                        <div class="carousel-caption">
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit
                        </div>
                    </div>
                      <div class="item">
                        <img src="{$Think.const.SITE_IMAGE_URL}/t2.jpg" style="width:100%;height:300px;" alt="">
                        <div class="carousel-caption">
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 navmenu_parent">
            <ul class=" nav nav-list navmenu" style="background-color: #f8f8f8">
                <li ><a class="nav-header" style="color: #000000;font-size: 16px;" > 旅之韵.<small>图</small>  <span class="glyphicon glyphicon-chevron-right "> </span><span class="badge pull-right" style="font-size: 16px">23</span> </a></li>
                <li class="open">
                    <a href="#">搜索热榜 <span class="badge pull-right">657</span></a>
                </li>
                <li>
                    <a href="#">风景如画<span class="badge pull-right">435</span></a>
                </li>
                <li>
                    <a href="#">狂热激情<span class="badge pull-right">54326</span></a>
                </li>
                <li>
                    <a href="#">文化底蕴<span class="badge pull-right">7658</span></a>
                </li>
                <li ><a class="nav-header" style="color: #000000;font-size: 16px;" > 旅之疑.<small>论</small>  <span class="glyphicon glyphicon-chevron-right "> </span><span class="badge pull-right" style="font-size: 16px">23</span> </a></li>
                <li>
                    <a href="#">新奇路线<span class="badge pull-right">5467</span></a>
                </li>
                <li>
                    <a href="#">探险之旅<span class="badge pull-right">688</span></a>
                </li>
                <li>
                    <a href="#">探险之旅<span class="badge pull-right">65</span></a>
                </li>
                <li ><a class="nav-header" style="color: #000000;font-size: 16px;" > 旅之悟.<small>文</small> <span class="glyphicon glyphicon-chevron-right "> </span><span class="badge pull-right" style="font-size: 16px">23</span> </a></li>
                <li>
                    <a href="#">西藏之行攻略<span class="badge pull-right">5467</span></a>
                </li>
                 <li>
                    <a href="#">驴友的自白<span class="badge pull-right">31</span></a>
                </li>
                <li>
                    <a href="#">摄影机与我的旅图<span class="badge pull-right">31</span></a>
                </li>
                <li>
                    <a href="#">摄影机与我的旅图<span class="badge pull-right">31</span></a>
                </li>
                </li>
                <li class="divider">
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row" style="background:rgba(255,255,255,0.5) none repeat scroll 0 0 !important;">
                <div class="col-md-12" style="margin-bottom: 20px;margin-top: 8px">
                    <h1>旅 之 韵 . <small>美如玉</small> <a class="pull-right" style="font-size: 16px;line-height: 50px;">换一批 <span class="glyphicon glyphicon glyphicon-refresh "> </span></a></h1>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;" >
                    <div class="thumbnail">
                        <img src="{$Think.const.SITE_IMAGE_URL}/photos/t2.jpg" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <img src="{$Think.const.SITE_IMAGE_URL}/photos/t3.jpg" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <img src="{$Think.const.SITE_IMAGE_URL}/photos/t1.jpg" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <img src="{$Think.const.SITE_IMAGE_URL}/photos/t4.jpg" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <img src="{$Think.const.SITE_IMAGE_URL}/photos/t5.jpg" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <img src="{$Think.const.SITE_IMAGE_URL}/photos/t6.jpg" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="background:rgba(255,255,255,0.5) none repeat scroll 0 0 !important;">
                <div class="col-md-12" style="margin-bottom: 20px;margin-top: 8px">
                    <h1>旅 之 疑 . <small>问答社区</small><a class="pull-right" style="font-size: 16px;line-height: 50px;">换一批 <span class="glyphicon glyphicon glyphicon-refresh "> </span></a> </h1>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4"  style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4"  style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4"  style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row" style="background:rgba(255,255,255,0.5) none repeat scroll 0 0 !important;">
                 <div class="col-md-12" style="margin-bottom: 20px;margin-top: 8px">
                     <h1>旅 之 悟 . <small>博文鸡汤</small> <a class="pull-right" style="font-size: 16px;line-height: 50px;">换一批 <span class="glyphicon glyphicon glyphicon-refresh "> </span></a></h1>
                 </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4"  style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4"  style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4"  style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">浏览</a> <a href="#" class="btn btn-default" role="button">分享</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="rateit" data-rateit-resetable="false"></div>
            </div>
        </div>

    </div>
</div>


<!-- Footer ends -->
<include file="Public/foot" />
<script>
    //工具提示初始化
    $(function() {
        $('.navmenu').tooltip({
            selector: "[data-toggle=tooltip]",
            html:true,
            container: "body" })
       // $("#testt").tooltip({})
       // $('a').tooltip()
    })

    $('.carousel').carousel();
    //左栏菜单滚动固定
    var toppx = $('.navmenu').offset().top;
    var documentwidth = $(window).width();
    navwidth = $('.navmenu_parent').width();
    $(window).resize(function(){
        navwidth =  $('.navmenu_parent').width();
    });
    $(window).scroll(function(){
        if(($(window).scrollTop() - toppx) > 0 && documentwidth > 950 ){
            $('.navmenu').css({position:'fixed','top':5,'width':navwidth});
        }else{
            $('.navmenu').css({position:'','top':0});
        }
    });

    //左栏子菜单弹出
    $('.nav-header').on('mouseover',function(){
        //alert(111);
    });

</script>
