<include file="Public/header" />
<body>
<!-- Form area -->
<div style="width:70%;margin:auto">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange" style="min-height:350px">
              <!-- Widget head -->
              <div class="widget-head">
                  <div class="login-head">
                      <small class="text-primary" style="margin-left: 10px;font-size: 14px">您正在找回帐号 {$info.2} 的密码 </small>
                  </div>
              </div>

              <div class="widget-content">
                <div class="row" style="margin-top: 25px;">
                    <div  class="col-lg-4 "><h3  style="margin-left: 30%;color: #b2b2b2"><font style="font-size: 30px;">01</font> 填写信息 <span class="glyphicon glyphicon-chevron-right pull-right"></span></h3></div>
                    <div  class="col-lg-4 "><h3  style="margin-left: 30%"><font style="color:#2d78f4;font-size: 30px;">02</font> 邮箱验证 <span class="glyphicon glyphicon-chevron-right pull-right"></span></h3></div>
                    <div  class="col-lg-4 "><h3  style="margin-left: 30%;color: #b2b2b2"><font style="font-size: 30px;">03</font> 修改密码 </h3></div>
                </div>
                  <div class="row" style="margin-top:35px;">
                     <div class="col-lg-2 ">
                        <h2 class="text-primary"><span class="glyphicon  glyphicon-envelope pull-right"></span></h2>
                     </div>
                      <div class="col-lg-10 ">
                          <h3>密码找回邮件 <font style="color:#2d78f4;font-size: 20px;"> {$info.2} </font>发送成功，请您注意 <a href="https://mail.qq.com/" target="_blank" style="color:#2d78f4;font-size: 20px;">接收邮件</a> ！</h3>
                      </div>
                  </div>
                  <div class="row" style="margin-top: 55px;">
                      <div class="col-lg-2 ">

                      </div>
                      <div class="col-lg-10 ">
                          <h5>请您注意接收邮件，并按照邮件中的提示操作，完成安全验证。
                              没有收到邮件？ <font style="color:#2d78f4;">重新发送</font> </h5>
                      </div>
                  </div>
              </div>
            </div>  
      </div>
    </div>
  </div> 
</div>


<include file="Public/foot-bottom" />