<div><font color="#000080">亲爱的旅之沙用户，您好：</font></div>
<div><font color="#000080"></font>&nbsp;</div>
<div>&nbsp;</div>
<div><font color="#000080">请您点击下面链接来修复帐号登录密码:<br><a href="{$url}" target="_blank">{$url}</a></font></div>
<div>&nbsp;</div><div>&nbsp;</div><div><font color="#000080">为了确保您的帐号安全，该链接仅<font color="#ff0000">2个小时内</font>访问有效。</font></div><div><font color="#000080"><br>如果该链接已经失效，请您点击 <a href="{$url}" target="_blank">这里</a> 重新获取修复密码邮件。</font></div><div>&nbsp;</div><div>&nbsp;</div><div><font color="#000080">如果点击链接不工作...</font></div><div><font color="#000080"><br>请您选择并复制整个链接，打开浏览器窗口并将其粘贴到地址栏中。然后单击"转到"按钮或按键盘上的 Enter
    键。</font></div><div>&nbsp;</div><font color="#000080">
    <div><br><font color="#ff0000">请勿直接回复该邮件</font>，有关 <a href="http://www.lvzhisha.com" target="_blank">旅之沙帐号</a> 的更多帮助信息，请访问：<a href="http:www.lvzhisha.com" target="_blank">http://www.lvzhisha.com</a></div><div>&nbsp;</div>
    旅之沙用户中心</font>
